In [33]:
"""
This project explores Covid-19 data from ___ and will visualize it using Ployly Express in Python. It will provide 
more than a dozen of bar charts, line graphs, bubble charts, and scatter plots. Exploration of the data will help 
people to understand likely complex scenarios unfolding to make predictions for the future. It will examine the 
impacts of conducting preventative measures and other hygenic practices. It will provide some arguements on which
health resources will best manage the outbreak. In closing, this project will summerize modeling, simulation, and 
analysis.

Tools and technology used in the project: 
    - Google Colab(Runtime type - GPU)

Requirements to Build the Project: 
    - Basic knowledge of Python
    - Basic understanding of graphs and charts
    - Data visualization
    - Pandas
    - Numpy
    - Matplotlib
    - Plotly Express
    - Choropleth
    - Wordcloud
"""

# STEP 1: IMPORT DEPENDENCIES AND LIBRARIES
# Import libraries for data analysis and manipulation
import plotly.graph_objs as go
import plotly.io as pio
import plotly.express as px
import pandas as pd

# Import libraries for data visualization
import matplotlib
import matplotlib.pyplot as plt

# Importing Plotly's offline verision 
import plotly.offline as py
py.init_notebook_mode(connected=True)

In [34]:
# Initialize Plotly
pio.renderers.default = 'iframe'

In [35]:
# STEP 2: IMPORT DATASETS FOR ANALYSIS

"""
The following data is contained in the files:
1. covid.csv - contains Country/Region, Continent,  Population, TotalCases, NewCases, TotalDeaths, NewDeaths, 
                TotalRecovered, NewRecovered, ActiveCases, Serious, Critical, Tot Cases/1M pop, Deaths/1M pop,
                TotalTests, Tests/1M pop, WHO Region, iso_alpha.
2. covid_grouped - contains Date(from 20-01-22 to 20-07-27), Country/Region, Confirmed, Deaths, Recovered, Active, 
                New cases, New deaths, New recovered, WHO Region, iso_alpha.
3. coviddeath - contains real-world examples of a number of Covid-19 deaths and the reasons behind the deaths.
"""

dataset1 = pd.read_csv("./data/covid.csv")
dataset1.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,iso_alpha
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,USA
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,BRA
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,IND
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe,RUS
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,ZAF

In [36]:
# Sample the data and return the tuple of shape (rows, column)
print(dataset1.shape)

(209, 17)

In [37]:
# Return the size of dataframe
print(dataset1.size)

3553

In [38]:
# Return concise information about the dataset 
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
 16  iso_alpha         209 non-null    object
dtypes: float64(12), int64(1), object(4)
memory usage: 27.9+ KB

In [39]:
dataset2 = pd.read_csv("./data/covid_grouped.csv")
dataset2.head()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,iso_alpha
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean,AFG
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe,ALB
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa,DZA
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe,AND
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa,AGO

In [40]:
# Sample the data and return the tuple of shape (rows, column)ab
print(dataset2.shape)

(35156, 11)

In [41]:
# Return the size of dataframe
print(dataset2.size)

386716

In [42]:
# Return concise information about the dataset
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35156 entries, 0 to 35155
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            35156 non-null  object
 1   Country/Region  35156 non-null  object
 2   Confirmed       35156 non-null  int64
 3   Deaths          35156 non-null  int64
 4   Recovered       35156 non-null  int64
 5   Active          35156 non-null  int64
 6   New cases       35156 non-null  int64
 7   New deaths      35156 non-null  int64
 8   New recovered   35156 non-null  int64
 9   WHO Region      35156 non-null  object
 10  iso_alpha       35156 non-null  object
dtypes: int64(7), object(4)
memory usage: 3.0+ MB

In [43]:
# STEP 3: CLEAN DATASETS
dataset1.columns

Index(['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases',
       'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered',
       'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
       'TotalTests', 'Tests/1M pop', 'WHO Region', 'iso_alpha'],
      dtype='object')

In [44]:
# Drop NewCases, NewDeaths, NewRecovered columns via the drop method 
dataset1.drop(["NewCases", "NewDeaths", "NewRecovered"], axis=1, inplace=True)

In [45]:
# Sample a random set of values from the new dataset 
dataset1.sample(5)

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,iso_alpha
67,Australia,Australia/Oceania,25528864.0,19890,255.0,10941.0,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,AUS
101,Maldives,Asia,541448.0,4680,19.0,2725.0,1936.0,12.0,8643.0,35.0,85587.0,158071.0,South-EastAsia,MDV
18,Germany,Europe,83811260.0,215210,9252.0,196200.0,9758.0,236.0,2568.0,110.0,8586648.0,102452.0,Europe,DEU
186,Bhutan,Asia,772443.0,105,NaN,93.0,12.0,NaN,136.0,NaN,54589.0,70671.0,South-EastAsia,BTN
205,Caribbean Netherlands,North America,26247.0,13,NaN,7.0,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,

In [46]:
# With the new dataset create a table using Plotly Express to view data
from plotly.figure_factory import create_table
colorscale = [[0, '#4d004c'], [.5, '#f2e5ff'], [1, '#ffffff']]
table = create_table(dataset1.head(15), colorscale=colorscale)
table.show()

In [47]:
# STEP 4: USE A BAR GRAPH TO COMPARE DATA BY ANALYZING TOTAL CASES, TOTAL DEATHS, TOTAL RECOVERED, AND TOTAL TESTS OF COUNTRIES

"""
We will view the data in a bar graph with Plotly Express. Visualization is done by moving the cursor within the plot. We 
view the label by navigating and hovering over an item. Using a bar graph, we can either analyze the relation between the 
columns themselves or the columns and rows. If we performed the analysis between the columns our data contains numerical
variables. Performing the analysis between columns and rows means we are dealing with categorical variables. 

We limit the analysis to the top 15 countries with the most cases, color code them, and make the data viewable when the 
cursor hovers. We will study each countries' total number of cases per country/region and continent.
"""

px.bar(dataset1.head(15),
       x = "Country/Region",
       y = "TotalCases",
       color = "TotalCases",
       height = 500,
       hover_data = ["Country/Region", "Continent"]  
)

In [48]:
# Next we will repeat the above analysis except we will take into account the country's total
# number of deaths 
px.bar(dataset1.head(15),
       x = "Country/Region",
       y = "TotalCases", 
       color = "TotalDeaths", 
       height = 500, 
       hover_data = ["Country/Region", "Continent"]
)

In [50]:
# Next we will analyze the total number of recovered cases for the same dataframe.
px.bar(dataset1.head(15),
       x = "Country/Region",
       y = "TotalCases", 
       color = "TotalRecovered", 
       height = 500, 
       hover_data = ["Country/Region", "Continent"]
)

In [51]:
# The next step is to analyze the total number of tests taken for the dataframe.
px.bar(dataset1.head(15),
       x = "Country/Region",
       y = "TotalCases", 
       color = "TotalTests", 
       height = 500, 
       hover_data = ["Country/Region", "Continent"]
)

In [52]:
"""
For better visualization of the data we utilize a horizontal bar graph. Graphing by this 
method highlights the nuances contained in nominal data--where the order of the categories
do not matter. Along the x-axis will be the TotalTests and the y-axis will have the country/
region.
"""
px.bar(dataset1.head(15),
       x = "TotalTests",
       y = "Country/Region", 
       color = "TotalTests",
       orientation = "h",
       height = 500, 
       hover_data = ["Country/Region", "Continent"]
)

In [54]:
# Perform the same horizontal analysis this time merging the data according to the continent
px.bar(dataset1.head(15),
       x = "TotalTests",
       y = "Continent", 
       color = "TotalTests",
       orientation = "h",
       height = 500, 
       hover_data = ["Country/Region", "Continent"]
)

In [ ]:
# STEP 5: USE A BUBBLE CHART TO COMPARE THE DATA BY CONTINENT 
"""
A bubble chart is a type of scatter plot, except we also take into account the size of the 
indivdual bubbles. Primarly it is used to display relationships between two or more variables.
The size of the bubble determines the relationship between those variables simultaneously. We 
will first analyze the total number of cases by the continent. Adding color to the graph adds
another dimension to the comparision.
"""